* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  min-height: 100vh;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
 /* transition: display 3s ease;*/
}
.logo {
  width: 20rem;
}
.main p {
  font-size: 4.5rem;
  width: 5ch;
  font-weight: 800;
  color: #8be174;
  font-family: "Abril Fatface", serif;
  line-height: 1.5ch;
}
.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  backdrop-filter:blur(5px);
  
}
.colored {
  color: #fffb1c;
  font-weight: 800;
}
.content:hover ~ .opacity {
    background-color: transparent;
    backdrop-filter:blur(0px);
}

.content:hover {
  display:none;
}

